* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(150, 231, 231);
}

.info {
    width: 100%;
    height: 20vh;
    background-color: aquamarine;
    padding: 10px 0px 10px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0px 10px 0px 10px;
}

.inputbox {
    height: 40px;
    width: 400px;
    display: flex;
    border-radius: 20px;
    border: solid 1px;
}

.inputbox button {
    flex: 1;
    height: 100%;
    border-radius: 0px 20px 20px 0px;
    border: solid 1px;
}

.info input {
    padding-left: 10px;
    border: none;
    flex: 3;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.addbtn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px;
    background-color: rgb(215, 237, 205);
}

.popup {
    display: none;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 50%;
    padding-left: 35px;
    left: 50%;
    background-color: rgb(225, 225, 222);
    transform: translate(-50%, -50%);
}

.popup input{
    width: 80%;
    height: 30px;
}

.tasktable {
    width: 80%;
    margin: auto;
    padding: 50px 0px 0px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr,
td,
th {
    border: solid 1px;
    padding: 10px;
}

.edtbtn {
    background-color: rgb(133, 133, 215);
    border-radius: 5px;
    width: 50px;
    border: none;
    height: 25px;
}

.dltbtn {
    background-color: rgb(223, 76, 76);
    width: 50px;
    border-radius: 5px;
    height: 25px;
    border: none;
}

#filter {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
}
.editbutton{
    display: none;
}